html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.bg {
  background-color: #F9F9F9;
}

* {
  box-sizing: border-box;
}

.text {
  background-color: #0066B3;
  border-radius: 30px;
}

.rightbar {
  width: 500px;
  height: 100vh;
  position: absolute;
  right: -100;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  gap: 40px;
  align-items: center;
  box-shadow: -22px -1px 41px -6px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -22px -1px 41px -6px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -22px -1px 41px -6px rgba(0, 0, 0, 0.53);
}

.inputcont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  font-size: large;
  width: 100%;
  text-align: left;
}

.top {
  display: flex;
  flex-direction: row;
  font-size: large;
  justify-content: space-between;
  width: 100%;
}

.bottom {
  bottom: 40px;
  padding: 30px;
  width: 100%;
  border-top: 1px grey solid;
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 15px;
  position: absolute;
}

.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  font-size: small;
  gap: 20px;
}

.datagrid {
  border: 1px rgba(0, 0, 0, 0) solid;
}

.lastcolumnSeparator .MuiDataGrid-columnSeparator--sideRight {
  display: none !important;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
  font: normal;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
  user-select: none;

}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
  display: flex;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@media (max-width: 768px) {
  .media {
    width: 100vw;
  }
}